body{
	font-family: georgia,times;

	color: #333;
	/*este color es para la letra es un color que 
	no es 100porciento negro*/

	font-size: 1.3rem;
	line-height: 1.4em;

	/*el bodt trae por defecto un margin con esto
	se lo quitamos*/
	margin: 0;
}

p{
	/*espaciado de parrafos*/
	margin-bottom: 1.6em;
}

.container{
	width: 85%;
	max-width: 850px;
	margin: auto;
}

h1{
	font-size:2rem; 
	line-height: 1.3em;
}

.header{
	background: #333;
	color: white; 
	padding: 2rem 0;


	/*estas lineas son para lograr que el
	 navegador este fijo*/
	position: fixed;
	left: 0;
	top: 0;

	width: 100%;
	/*esta sirve para hacer lo mismo de arriba*/
	/*right: 0;*/
}


/*esto lo hacemos para que lo que se pone debajo 
de la cabezera tenga mas espacio y no se 
ponga debajo de esta*/
/*esto junto con el codigo de arriba es lo que
da el efecto de navegador fijo*/
.main{
	padding-top: 8rem;
}

.header a{
	color: white;
	text-decoration: none;
}

.Logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation ul li{
	display: inline-block;
}

.navigation ul li a{
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
	border-radius: 5px;
}

.navigation ul li a:hover{
	background: #4a4a4a;
}

.logo{
	letter-spacing: 15px;
	font-size:1.3em; 
}

.footer{
	background: #f2f2f2;
	padding: 4rem 0;
	text-align: center;
	margin-top: 6rem;
}